<!-- START HEADER AREA -->
<header class="header-area header-wrapper">
    <!-- header-top-bar -->
    <div class="header-top-bar plr-185">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 d-none d-md-block">
                    <div class="call-us">
                        <p class="mb-0 roboto">0343859905</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="top-link clearfix">
                        <ul class="link f-right">
                            <li>
                                <a th:href="@{/tai-khoan}">
                                    <i class="zmdi zmdi-account"></i>
                                    Tài Khoản
                                </a>
                            </li>
                            <li>
                                <a th:href="@{/yeu-thich}">
                                    <i class="zmdi zmdi-favorite"></i>
                                    Yêu Thích
                                </a>
                            </li>
                            <li>
                                <a th:href="@{/dang-nhap}">
                                    <i class="zmdi zmdi-lock"></i>
                                    Đăng Nhập
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- header-middle-area -->
    <div id="sticky-header" class="header-middle-area plr-185">
        <div class="container-fluid">
            <div class="full-width-mega-dropdown">
                <div class="row">
                    <!-- logo -->
                    <div class="col-lg-2 col-md-4">
                        <div class="logo">
                            <a th:href="@{/}">
                                <img th:src="@{/img/logo/logo.png}" alt="main logo">
                            </a>
                        </div>
                    </div>
                    <!-- primary-menu -->
                    <div class="col-lg-8 d-none d-lg-block">
                        <nav id="primary-menu">
                            <ul class="main-menu text-center">
                                <li><a th:href="@{/}">Trang Chủ</a></li>

                                <li class="mega-parent" style="position: relative;">
                                    <a th:href="@{/san-pham}">Sản Phẩm</a>

                                    <div class="mega-menu-area clearfix" style="position: absolute; left: 50%; transform: translateX(-50%); width: 850px; padding: 20px; background: #fff; box-shadow: 0 5px 15px rgba(0,0,0,0.1); z-index: 99;">

                                        <!-- Phần chứa danh mục bên trái (4 cột) -->
                                        <div class="mega-menu-link f-left" style="width: 75%;">
                                            <ul class="single-mega-item" style="width: 100%; display: flex; flex-wrap: wrap; list-style: none; padding: 0; margin: 0;">
                                                <li th:if="${categories != null}" th:each="cat : ${categories}" style="width: 25%; padding: 8px 10px; box-sizing: border-box; text-align: left;">
                                                    <!-- Đổi display: block thành display: inline-block ở đây để hiệu ứng ôm sát chữ -->
                                                    <a th:href="@{/san-pham(category=${cat.slug})}" th:text="${cat.name}" style="font-weight: 600; color: #333; display: inline-block; text-transform: capitalize;">Tên Danh Mục</a>
                                                </li>
                                            </ul>
                                        </div>

                                        <!-- Phần ảnh quảng cáo bên phải -->
                                        <div class="mega-menu-photo f-left" style="width: 25%;">
                                            <a href="#">
                                                <img th:src="@{/img/mega-menu/1.jpg}" alt="mega menu image" style="width: 100%; height: auto;">
                                            </a>
                                        </div>

                                    </div>
                                </li>

                                <li><a th:href="@{/gioi-thieu}">Giới Thiệu</a></li>
                                <li><a th:href="@{/lien-he}">Liên Hệ</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-lg-2 col-md-8">
                        <div class="search-top-cart  f-right">
                            <!-- header-search -->
                            <div class="header-search f-left">
                                <div class="header-search-inner">
                                    <button class="search-toggle">
                                        <i class="zmdi zmdi-search"></i>
                                    </button>
                                    <form th:action="@{/san-pham}">
                                        <div class="top-search-box">
                                            <input type="text" name="keyword"
                                                    th:value="${param.keyword != null ? param.keyword[0] : ''}"
                                                    placeholder="Tìm kiếm sản phẩm...">
                                            <button type="submit">
                                                <i class="zmdi zmdi-search"></i>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- total-cart -->
                            <div class="total-cart f-left">
                                <div class="total-cart-in">
                                    <div class="cart-toggler">
                                        <a th:href="@{/gio-hang}">
                                            <span class="cart-quantity">02</span><br>
                                            <span class="cart-icon">
                                                        <i class="zmdi zmdi-shopping-cart-plus"></i>
                                            </span>
                                        </a>
                                    </div>
                                    <ul>
                                        <li>
                                            <div class="top-cart-inner your-cart">
                                                <h5 class="text-capitalize">Giỏ Hàng</h5>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="total-cart-pro">
                                                <!-- single-cart -->
                                                <div class="single-cart clearfix">
                                                    <div class="cart-img f-left">
                                                        <a href="#">
                                                            <img src="img/cart/1.jpg" alt="Cart Product"/>
                                                        </a>
                                                        <div class="del-icon">
                                                            <a href="#">
                                                                <i class="zmdi zmdi-close"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="cart-info f-left">
                                                        <h6 class="text-capitalize">
                                                            <a href="#">Dummy Product Name</a>
                                                        </h6>
                                                        <p>
                                                            <span>Brand <strong>:</strong></span>Brand Name
                                                        </p>
                                                        <p>
                                                            <span>Model <strong>:</strong></span>Grand s2
                                                        </p>
                                                        <p>
                                                            <span>Color <strong>:</strong></span>Black, White
                                                        </p>
                                                    </div>
                                                </div>
                                                <!-- single-cart -->
                                                <div class="single-cart clearfix">
                                                    <div class="cart-img f-left">
                                                        <a href="#">
                                                            <img src="img/cart/1.jpg" alt="Cart Product"/>
                                                        </a>
                                                        <div class="del-icon">
                                                            <a href="#">
                                                                <i class="zmdi zmdi-close"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="cart-info f-left">
                                                        <h6 class="text-capitalize">
                                                            <a href="#">Dummy Product Name</a>
                                                        </h6>
                                                        <p>
                                                            <span>Brand <strong>:</strong></span>Brand Name
                                                        </p>
                                                        <p>
                                                            <span>Model <strong>:</strong></span>Grand s2
                                                        </p>
                                                        <p>
                                                            <span>Color <strong>:</strong></span>Black, White
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="top-cart-inner subtotal">
                                                <h4 class="text-uppercase g-font-2">
                                                    Total =
                                                    <span>$ 500.00</span>
                                                </h4>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="top-cart-inner view-cart">
                                                <h4 class="text-uppercase">
                                                    <a th:href="@{/gio-hang}">View cart</a>
                                                </h4>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="top-cart-inner check-out">
                                                <h4 class="text-uppercase">
                                                    <a th:href="@{/thanh-toan}">Check out</a>
                                                </h4>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- END HEADER AREA -->

<!-- START MOBILE MENU AREA -->
<div class="mobile-menu-area d-block d-lg-none section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="mobile-menu">
                    <nav id="dropdown">
                        <ul>
                            <li><a th:href="@{/}">Trang chủ</a></li>
                            <li><a th:href="@{/san-pham}">Sản phẩm</a></li>
                            <li><a th:href="@{/gioi-thieu}">Giới thiệu</a></li>
                            <li><a th:href="@{/lien-he}">Liên hệ</a></li>
                            <li><a th:href="@{/dang-nhap}">Đăng nhập</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MOBILE MENU AREA -->